* {
  box-sizing: border-box;
}

.font {
  font-family: 'Spectral SC', serif;
}

.left {
  float: left;
}

.figcap {
  font-size: .7em;
  text-align: left;
}

.half {
  height: 50%;
  width: 50%;
}

.full {
  height: 100%;
  width: 100%
}

.right {
  float: right;
}

.aside-bar{
  float: left;
  width: 16vw;
  height: auto;
}

.right-side {
  width: 78vw;
  float: right;
}

header {
  height: auto;
  width: 100%;
}

.cap {
  font-size: .8em;
}

.color-fig {
  margin:18%;
  font-size: 1.5em;
}

.main-head {
  margin-bottom: 0px;
  position: absolute;
  top: 5px;
  right: 10px;
}

#head-desc {
  font-size: 1.2em;
  top: 40px;
  position: absolute;
  right: 10px;
}

.flex-grid {
  -webkit-column-count: 3;
  -webkit-column-gap:  10px;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  column-count: 3;
  column-gap: 10px;
}

#heading {
  text-align: center;
  font-size: 2em;
}

.main-img {
  width: 80vw;
  margin-left: 0vw;
  margin-right: -1vw;
}

.bottom {
  width: 78vw;
}

.fig-bottom {
  width: 25vw;
  height: auto;
  margin-left: 0px;
  overflow: hidden;
}

figcaption {
  text-align: center;
}

#img-top {
  margin-top: 0px;
}

@media screen and (max-width: 450px) {
  .flex-grid {
    -webkit-column-count: 1;
    -webkit-column-gap:  10px;
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    column-count: 1;
    column-gap: 10px;
  }

  .bottom {
    width: 100%;
  }

  .fig-bottom {
    margin: auto;
    width: 40vw;
  }

  #logo {
    width: 22%;
  }

  .right-side {
    width: 100%;
  }

  .main-img {
    width: 100%;
  }

  .aside-bar {
    width: 100%;
    padding-left: 20vw;
  }

  .color-fig {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  h4 {
    font-size: 2em;
  }

  .cap {
    font-size: 1.4em;
  }

  .figcap {
    font-size: 1.1em;
  }
}
